<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Register</title>
	</head>
	<body>
	  <style>
	  </style>
	  <%= render 'layouts/header' %>
    <h1>Register</h1>
    <section>
        <%= form_for(@user, url: usuario_create_path) do |f| %>
        <div class="input txt">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="input txt">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div class="input">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="input">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="buttonduo">
          <%= f.submit "Create my account", class: "btnduo" %>
        </div>
        <div class="buttonduo">
          <%= button_to "Back", root_path, :method => "get", class: "btnduo" %>
        </div>
        <% end %>
    </section>
  </body>
</html>