<div id="tabs" class="tabs">
	<nav>
		<ul>
			<li><a href="#section-1" class="icon-shop"><span>Language</span></a></li>
			<li><a href="#section-2" class="icon-cup"><span>Class Feature</span></a></li>
			<li><a href="#section-3" class="icon-food"><span>Proficiency</span></a></li>
			<li><a href="#section-4" class="icon-lab"><span>Skill</span></a></li>
			<!--<li><a href="#section-5" class="icon-truck"><span>Order</span></a></li>-->
		</ul>
	</nav>
	<div class="content">
		<section id="section-1">
		    <h2>Language</h2>
		    <%= form_for(@lang, url: race_createLanguage_path) do |f| %>
                  <div class="input" style="">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                  </div>
                  <div class="button">
                    <%= f.submit "New", class: "btn" %>
            </div><% end %>
		</section>
		<section id="section-2">
		    <h2>Feature</h2>
            <%= form_for(@feature, url: race_createFeature_path) do |f| %>
                <div class="input">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                </div>
                <div class="input">
                    <%= f.label :level %>
                    <%= f.text_field :level %>
                </div>
                <div class="input">
                    <%= f.label :desc %>
                    <%= f.text_field :desc %>
                </div>
                  <div class="button">
                    <%= f.submit "New", class: "btn" %>
            </div><% end %>
		</section>
		<section id="section-3">
		    <h2>Proficiency</h2>
            <%= form_for(@prof, url: race_createProficiency_path) do |f| %>
                  <div class="input">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                  </div>
                        <div class="input">
                    <%= f.label :category %>
                    <%= f.text_field :category %>
                  </div>
                <div class="input">
                    <%= f.label :desc %>
                    <%= f.text_field :desc %>
                </div>
                  <div class="button">
                    <%= f.submit "New", class: "btn" %>
            </div><% end %>
		</section>
		<section id="section-4">
		    <h2>Skill</h2>
            <%= form_for(@skill, url: race_createSkill_path) do |f| %>
                  <div class="input">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                  </div>
                        <div class="input">
                    <%= f.label :attr %>
                    <%= f.text_field :attr %>
                  </div>
                  <div class="button">
                    <%= f.submit "Login", class: "btn" %>
            </div><% end %>
		</section>

	</div><!-- /content -->
</div><!-- /tabs -->
<script src="js/cbpFWTabs.js"></script>
<script>
	new CBPFWTabs( document.getElementById( 'tabs' ) );
</script>