 <%= render 'layouts/header' %>
<div id="tabs" class="tabs">
	<nav>
		<ul>
			<li><a href="#section-1"><span>Language</span></a></li>
			<li><a href="#section-2"><span>Class Feature</span></a></li>
			<li><a href="#section-3"><span>Proficiency</span></a></li>
		</ul>
	</nav>
	<div class="content">
		<section id="section-1">
		    <%= form_for(@lang, url: race_createLanguage_path) do |f| %>
                  <div class="input txt" style="">
                    <%= f.label :name %>
                    <%= f.text_field :name%>
                  </div>
                  <div class="button">
                    <%= f.submit "New", class: "btn" %>
            </div><% end %>
		</section>
		<section id="section-2">
            <%= form_for(@feature, url: race_createFeature_path) do |f| %>
                <div class="input">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                </div>
                <div class="input">
                    <%= f.label :level %>
                    <%= f.text_field :level %>
                </div>
                <div class="input txt">
                    <%= f.label :desc %>
                    <%= f.text_field :desc%>
                </div>
                  <div class="button">
                    <%= f.submit "New", class: "btn" %>
            </div><% end %>
		</section>
		<section id="section-3">
            <%= form_for(@prof, url: race_createProficiency_path) do |f| %>
                  <div class="input">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                  </div>
                        <div class="input">
                    <%= f.label :category %>
                    <%= f.text_field :category %>
                  </div>
                <div class="input txt">
                    <%= f.label :desc %>
                    <%= f.text_field :desc%>
                </div>
                  <div class="button">
                    <%= f.submit "New", class: "btn" %>
            </div><% end %>
		</section>

	</div><!-- /content -->
</div><!-- /tabs -->
<script src="js/cbpFWTabs.js"></script>
<script>
	new CBPFWTabs( document.getElementById( 'tabs' ) );
</script>