<script type="text/javascript">
    function teste(){
        var a = document.getElementById('race').value
        var b = document.getElementById('str')
        b.innerHTML = "<%= Race.find(a).str%>"
    }
</script>
<%= render 'layouts/header'%>
<div>
    <%= label_tag 'Race' %>
    <%= select_tag 'race',options_from_collection_for_select(Race.all,:id,:name), :onchange => ('teste()')%>
</div>

<table>
    <tr><th>Strength</th>
        <th>Dexterity</th>
        <th>Constitution</th>
    </tr>
    <tr>
        <td id = "str"><%= Race.find(1).str%></td>
         <td>0</td>
          <td>0</td>
    </tr>
</table>

<%= select_tag 'lang',options_from_collection_for_select(Language.all,:id,:name)%>