<%= render 'layouts/header'%>
<div>
    <%= label_tag 'Name' %>
    <%= text_field_tag :name%>
</div>
<div>
    <%= label_tag 'Race' %>
    <%= select_tag 'race',options_from_collection_for_select(Race.all,:id,:name)%>
</div>

<div>
    <%= label_tag 'Strength'%>
    <%= text_field_tag :str%>
</div>

<div>
    <%= label_tag 'Skill' %>
    <%= select_tag 'skill',options_from_collection_for_select(Skill.all,:id,:name)%>
</div>
<div>
    <%= label_tag 'Proficiency' %>
    <%= select_tag 'proficiency',options_from_collection_for_select(Proficiency.all,:id,:name)%>
</div>
<div>
    <%= label_tag 'Language '%>
    <%= select_tag 'lang',options_from_collection_for_select(Language.all,:id,:name)%>
</div>
<div>
    <%= label_tag 'Class '%>
    <%= select_tag 'class',options_from_collection_for_select(TbClass.all,:id,:name)%>
</div>