<script type="text/javascript">
    function mudaValor(){
        var select = document.getElementById('race')
        var option = select.options[select.selectedIndex].value
        <%= @option %> = option
        document.getElementById('str').value = option
    }
</script>

<%= render 'layouts/header'%>
<div>
    <%= label_tag 'Name' %>
    <%= text_field_tag :name%>
</div>
<div>
    <%= label_tag 'Race' %>
    <%= select_tag 'race',options_from_collection_for_select(Race.all,:id,:name),:onchange =>'mudaValor()'%>
</div>
<div>
    <%= label_tag 'Strength' %>
    <%= text_field_tag :str%>
    <%= label_tag 'Dexterity' %>
    <%= text_field_tag :dex, Race.find(1).dex%>
    <%= label_tag 'Constitution' %>
    <%= text_field_tag :con, Race.find(1).con%>
    <%= label_tag 'Intelligence' %>
    <%= text_field_tag :int, Race.find(1).int%>
    <%= label_tag 'Strength' %>
    <%= text_field_tag :wis, Race.find(1).wis%>
    <%= label_tag 'Strength' %>
    <%= text_field_tag :cha, Race.find(1).cha%>
</div>


<%= select_tag 'lang',options_from_collection_for_select(Language.all,:id,:name)%>